*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background-image:url("../img/natural-pattern.png");
}

/* HEADER */
.header{
  margin-left: 15%;
  margin-top: 2%;
  margin-bottom: 2%;
  width: calc(70%);
  float: left;
}

.header::after{
  content: "";
  display: table;
  clear: both;
}

/* HEADER-IMG */

.header-img{
  background-image: url("../img/natural-header.jpg");
  background-size: cover;
  border: solid 10px white;
  color: white;
  text-align: center;
}
.header-img img{
  width: 50%;
  max-width: 100%;

}

.header-img h1{
  vertical-align: middle;
  line-height: 80px;
  font-size: 27px;
  font-family: 'Roboto', sans-serif;
}

/* HEADER MENU */

.header-menu{
  background-color: gray;
}
.header-menu::after{
  content: "";
  display: table;
  clear: both;
}

.header-menu-container{
  width: 70%;
  margin-left: 15%;
}
.header-menu button{
  height: 50px;
  padding: 5px;
  background: none;
  border: none;
  color: white;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  float: left;
}

.header-menu button:first-of-type{
  margin-left: 10%;
}
.header-menu button:hover{
  background-color: rgb(110,110,110);
}

/* FINE HEADER */


/* MAIN */

.main::after{
  content: "";
  display: table;
  clear: both;
}


.main{
  width: 70%;
  margin-left: 15%;
}

.main > div{
  padding: 10px;
  float: left;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
}
.main h2{
  color: #705a47;
  padding-bottom: 10px;
}

.main li{
  list-style: none;
  padding: 3px;
}

/* COLONNA DI SX */
.left{
  background-color: white;
  width: calc(100% / 4 - (60px / 3));
}

.left a{
  text-decoration: none;
  color: green;
}

.left-text::after{
  content: "";
  display: table;
  clear:both;
}
.rss{
  float: left;
  width: 30%;
}
.left-text h2{
  float: left;
  width: 60%;
}

/* COLONNA CENTRALE */
.central{
  margin-left: 30px;
  background-color: white;
  width: calc(100% / 2 - (60px / 3));
}

/* COLONNA DI DX */
.right{
  margin-left: 30px;
  background-color: none;
  width: calc(100% / 4 - (60px / 3));
}

/* DIV ALL'INTERNO DI .RIGHT */

.right div{
  padding: 10px;
  width: 100%;
   border-radius: 5px;
   padding-top: 0;
   background-color: white;
}
.first{
  margin-bottom: 20px;
}

.second{
  margin-bottom: 20px;
}


/* FINE MAIN */



/* FOOTER */


.footer{
  margin: 10px;
  width: 70%;
  margin-left: 15%;
  background-color: white;
  border-radius: 5px;
  float: left;
  text-align: center;
  color:#cecece;
  font-family: 'Roboto', sans-serif;
}

.footer::after{
  content: "";
  display: table;
  clear: both;
}

.footer li{
  list-style: none;
  float:left;
  width: calc(70% / 3);
  padding: 20px;
  vertical-align: middle;
}

.footer li:first-of-type{
  margin-left: 15%;
}

/* FINE FOOTER */
